@font-face {
  font-family: "My Custom Font";
  src: url(../../fonts/starguardsemital.ttf) format("truetype");
}

.mainbody
{
width: 100vw;

left: 1919px;
top: 6771px;


transform: matrix(1, 0, 0, 1, 0, 0);
}
.cambox1
{
    box-sizing: border-box;
/* position:absolute; */
display: flex;
gap:8vh;
align-items: center;
flex-direction: column;
width: 100%;
height: 53px;
left: -20px;
top: 131px;
background: #FF598A;
border: 5px solid #000000;
}
.cambox2{
  box-sizing: border-box;

/* position: absolute; */
width: 200%;
height: 60px;
left: -20px;
top: 192px;

background: #EAA1E2;
border: 5px solid #000000;
}
.text1
{
  /* position: relative; */
font-family: 'My Custom Font';
font-style: normal;
font-weight: 400;
font-size: 4.12vw;
line-height: 22vh;
text-align: center;
letter-spacing: 0.02em;
text-transform: uppercase;

color: #FFFFFF;

-webkit-text-stroke: 2px #E16C3F;
text-shadow: -.5rem -.5rem 0
#000, .6rem -.55rem 0
#000, -.6rem .55rem 0
#000, .5rem .5rem 0 
#000,.5rem .5rem 0 ;

}
.text2
{
  /* position: relative; */
font-family: 'My Custom Font';
font-style: normal;
font-weight: 400;
font-size: 4.12vw;
line-height: 22vh;
text-align: center;
letter-spacing: 0.02em;
text-transform: uppercase;

color: #FFFFFF;
-webkit-text-stroke: 2px 
#E49BDB;
text-shadow: -.5rem -.5rem 0
#000, .6rem -.55rem 0
#000, -.6rem .55rem 0
#000, .5rem .5rem 0 
#000,.5rem .5rem 0 ;



}
.text3
{
  /* position: relative; */
font-family: 'My Custom Font';
font-style: normal;
font-weight: 400;
font-size: 4.12vw;
line-height: 22vh;
text-align: center;
letter-spacing: 0.02em;
text-transform: uppercase;

color: #FFFFFF;
-webkit-text-stroke: 2px 
#E49BDB;
text-shadow: -.5rem -.5rem 0
#000, .6rem -.55rem 0
#000, -.6rem .55rem 0
#000, .5rem .5rem 0 
#000,.5rem .5rem 0 ;


}
.text4
{
  /* position: relative; */
font-family: 'My Custom Font';
font-style: normal;
font-weight: 400;
font-size: 4.12vw;
line-height: 22vh;
text-align: center;
letter-spacing: 0.02em;
text-transform: uppercase;

color: #FFFFFF;
-webkit-text-stroke: 2px 
#EAA1E2;
text-shadow: -.5rem -.5rem 0
#000, .6rem -.55rem 0
#000, -.6rem .55rem 0
#000, .5rem .5rem 0 
#000,.5rem .5rem 0 ;


}
.text5
{
  /* position: relative; */
font-family: 'My Custom Font';
font-style: normal;
font-weight: 400;
font-size: 4.12vw;
line-height: 22vh;
text-align: center;
letter-spacing: 0.02em;
text-transform: uppercase;

color: #FFFFFF;
-webkit-text-stroke: 2px 
#6F8214;
text-shadow: -.5rem -.5rem 0
#000, .6rem -.55rem 0
#000, -.6rem .55rem 0
#000, .5rem .5rem 0 
#000,.5rem .5rem 0 ;


}
.text6
{
  /* position: relative; */
font-family: 'My Custom Font';
font-style: normal;
font-weight: 400;
font-size: 4.12vw;
line-height: 22vh;
text-align: center;
letter-spacing: 0.02em;
text-transform: uppercase;

color: #FFFFFF;
-webkit-text-stroke: 2px #E16C3F;
text-shadow: -.5rem -.5rem 0
#000, .6rem -.55rem 0
#000, -.6rem .55rem 0
#000, .5rem .5rem 0 
#000,.5rem .5rem 0 ;


}
.cambox3
{
  box-sizing: border-box;

/* position: absolute; */
width: 200%;
height: 59px;
left: -20px;
top: 260px;

background: #00B1EC;
border: 5px solid #000000;

}

/* aikyam */
.cambox1i1
{
  box-sizing: border-box;
align-items: center;
  /* position:absolute; */
display: flex;
flex-direction: column;
gap:6vh;
  width: 100%;
  height: 36px;
  left: -20px;
  top: 131px;
  
  background: 
  #06888E;
  border: 0px solid #ffffff;
 
}
.cambox2i1{
  box-sizing: border-box;
align-items: center;
display: flex;
align-items: center;
justify-content: center;
/* position: absolute; */
width: 100%;
height: 36px;
left: -20px;
top: 192px;

background: #F26120;
border-top: 4px solid #ffffff;
border-bottom: 4px solid #ffffff ;
border-right: 0px;
border-left: 0px;
}
.cambox3i1
{
  box-sizing: border-box;

/* position: absolute; */
width: 100%;
height: 36px;
left: -20px;
top: 260px;

background: #05D7E2;
border: 0px solid #ffffff;

}

/* safher */
.cambox1i2
{
  box-sizing: border-box;
align-items: center;
  /* position:absolute; */
display: flex;
flex-direction: column;
gap:6vh;
  width: 100%;
  height: 36px;

  left: -20px;
  top: 131px;
  
  background: 
  
#0999B6;
  border: 0px solid #ffffff;
}
.cambox2i2{
  box-sizing: border-box;
align-items: center;
display: flex;
align-items: center;
justify-content: center;
/* position: absolute; */
width: 100%;
height: 36px;

left: -20px;
top: 192px;

background: 
#E49BDB;
border-top: 4px solid #ffffff;
border-bottom: 4px solid #ffffff ;
border-right: 0px;
border-left: 0px;
}
.cambox3i2
{
  box-sizing: border-box;

/* position: absolute; */
width: 100%;
height: 36px;

left: -20px;
top: 260px;

background: #560062;
border: 0px solid #ffffff;

}
/* manshakti */
.cambox1i3
{
  box-sizing: border-box;
align-items: center;
  /* position:absolute; */
display: flex;
flex-direction: column;
gap:6vh;
  width: 100%;
  height: 36px;

  left: -20px;
  top: 131px;
  
  background: 
  
#0999B6;
  border: 0px solid #ffffff;
}
.cambox2i3{
  box-sizing: border-box;
align-items: center;
display: flex;
align-items: center;
justify-content: center;
/* position: absolute; */
width: 100%;
height: 36px;

left: -20px;
top: 192px;

background: 
#E49BDB;
border-top: 4px solid #ffffff;
border-bottom: 4px solid #ffffff ;
border-right: 0px;
border-left: 0px;
}
.cambox3i3
{
  box-sizing: border-box;

/* position: absolute; */
width: 100%;
height: 36px;

left: -20px;
top: 260px;

background: 
#560062;
border: 0px solid #ffffff;

}
/* northeast */
.cambox1i4
{
  box-sizing: border-box;
align-items: center;
  /* position:absolute; */
display: flex;
flex-direction: column;
gap:6vh;
  width: 100%;
  height: 36px;

  left: -20px;
  top: 131px;
  
  background: 
  
  #00B1EC;
  border: 0px solid #ffffff;
}
.cambox2i4{
  box-sizing: border-box;
align-items: center;
display: flex;
align-items: center;
justify-content: center;
/* position: absolute; */
width: 100%;
height: 36px;

left: -20px;
top: 192px;

background: 
#E49BDB;
border-top: 4px solid #ffffff;
border-bottom: 4px solid #ffffff ;
border-right: 0px;
border-left: 0px;
}
.cambox3i4
{
  box-sizing: border-box;

/* position: absolute; */
width: 100%;
height: 36px;

left: -20px;
top: 260px;

background: 
#FF598A;
border: 0px solid #ffffff;

}
/* prithvi */
.cambox1i5
{
  box-sizing: border-box;
align-items: center;
  /* position:absolute; */
display: flex;
flex-direction: column;
gap:6vh;
  width: 100%;
  height: 36px;

  left: -20px;
  top: 131px;
  
  background: 
  
  
#BED645;
  border: 0px solid #ffffff;
}
.cambox2i5{
  box-sizing: border-box;
align-items: center;
display: flex;
align-items: center;
justify-content: center;
/* position: absolute; */
width: 100%;
height: 36px;

left: -20px;
top: 192px;

background: 

#6F8214;
border-top: 4px solid #ffffff;
border-bottom: 4px solid #ffffff ;
border-right: 0px;
border-left: 0px;
}
.cambox3i5
{
  box-sizing: border-box;

/* position: absolute; */
width: 100%;
height: 36px;

left: -20px;
top: 260px;

background: 
#05CDD3;
border: 0px solid #ffffff;

}
/* udaan */
.cambox1i6
{
  box-sizing: border-box;
align-items: center;
  /* position:absolute; */
display: flex;
flex-direction: column;
gap:6vh;
  width: 100%;
  height: 36px;

  left: -20px;
  top: 131px;
  
  background: 
  
  

  #D5E36E;
  border: 0px solid #ffffff;
}
.cambox2i6{
  box-sizing: border-box;
align-items: center;
display: flex;
align-items: center;
justify-content: center;
/* position: absolute; */
width: 100%;
height: 36px;

left: -20px;
top: 192px;

background: 


#E16C3F;
border-top: 4px solid #ffffff;
border-bottom: 4px solid #ffffff ;
border-right: 0px;
border-left: 0px;
}
.cambox3i6
{
  box-sizing: border-box;

/* position: absolute; */
width: 100%;
height: 36px;

left: -20px;
top: 260px;

background: 

#F8D400;
border: 0px solid #ffffff;

}











.camtext2i
{box-sizing: border-box;
  padding: 1% 20% 1% 20%;
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
width: 100vw;
height: 10vw;
font-family: 'Aileron';
font-style: normal;
font-weight: 400;
font-size: 1.1vw;
line-height: 2vw;
text-align: center;
color: #000000;
background:url('./images/texture_background.webp');
}

@media (max-width:1500px){
  .text1
{
  /* position: relative; */
font-family: 'My Custom Font';
font-style: normal;
font-weight: 400;
font-size: 5.5vw;
line-height: 22vh;
text-align: center;
letter-spacing: 0.02em;
text-transform: uppercase;

color: #FFFFFF;

-webkit-text-stroke: 1.7px #E16C3F;
text-shadow: -.5rem -.4rem 0
#000, .5rem -.4rem 0
#000, -.5rem .4rem 0
#000, .5rem .4rem 0 
#000,.5rem .4rem 0 ;

}
.text2
{
  /* position: relative; */
font-family: 'My Custom Font';
font-style: normal;
font-weight: 400;
font-size: 5.5vw;
line-height: 22vh;
text-align: center;
letter-spacing: 0.02em;
text-transform: uppercase;

color: #FFFFFF;
-webkit-text-stroke: 1.7px 
#E49BDB;
text-shadow: -.5rem -.4rem 0
#000, .5rem -.4rem 0
#000, -.5rem .4rem 0
#000, .5rem .4rem 0 
#000,.5rem .4rem 0 ;


}
.text3
{
  /* position: relative; */
font-family: 'My Custom Font';
font-style: normal;
font-weight: 400;
font-size: 5.5vw;
line-height: 22vh;
text-align: center;
letter-spacing: 0.02em;
text-transform: uppercase;

color: #FFFFFF;
-webkit-text-stroke: 1.7px 
#E49BDB;
text-shadow: -.5rem -.4rem 0
#000, .5rem -.4rem 0
#000, -.5rem .4rem 0
#000, .5rem .4rem 0 
#000,.5rem .4rem 0 ;


}
.text4
{
  /* position: relative; */
font-family: 'My Custom Font';
font-style: normal;
font-weight: 400;
font-size: 5.5vw;
line-height: 22vh;
text-align: center;
letter-spacing: 0.02em;
text-transform: uppercase;

color: #FFFFFF;
-webkit-text-stroke: 1.7px 
#EAA1E2;
text-shadow: -.5rem -.4rem 0
#000, .5rem -.4rem 0
#000, -.5rem .4rem 0
#000, .5rem .4rem 0 
#000,.5rem .4rem 0 ;


}
.text5
{
  /* position: relative; */
font-family: 'My Custom Font';
font-style: normal;
font-weight: 400;
font-size: 5.5vw;
line-height: 22vh;
text-align: center;
letter-spacing: 0.02em;
text-transform: uppercase;

color: #FFFFFF;
-webkit-text-stroke: 1.7px 
#6F8214;
text-shadow: -.5rem -.4rem 0
#000, .5rem -.4rem 0
#000, -.5rem .4rem 0
#000, .5rem .4rem 0 
#000,.5rem .4rem 0 ;

}
.text6
{
  /* position: relative; */
font-family: 'My Custom Font';
font-style: normal;
font-weight: 400;
font-size: 5.5vw;
line-height: 22vh;
text-align: center;
letter-spacing: 0.02em;
text-transform: uppercase;

color: #FFFFFF;
-webkit-text-stroke: 1.7px #E16C3F;
text-shadow: -.5rem -.4rem 0
#000, .5rem -.4rem 0
#000, -.5rem .4rem 0
#000, .5rem .4rem 0 
#000,.5rem .4rem 0 ;

}
}

@media(max-width:1000px){
  .text1
  {
    /* position: relative; */
  font-family: 'My Custom Font';
  font-style: normal;
  font-weight: 400;
  font-size: 6vw;
  line-height: 22vh;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  
  color: #FFFFFF;
  
  -webkit-text-stroke: 1.7px #E16C3F;
  text-shadow: -.45rem -.3rem 0
  #000, .5rem -.3rem 0
  #000, -.5rem .3rem 0
  #000, .4rem .3rem 0 
  #000,.4rem .3rem 0 ;
  
  }
  .text2
  {
    /* position: relative; */
  font-family: 'My Custom Font';
  font-style: normal;
  font-weight: 400;
  font-size: 6vw;
  line-height: 22vh;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  
  color: #FFFFFF;
  -webkit-text-stroke: 1.7px 
  #E49BDB;
  text-shadow: -.45rem -.3rem 0
  #000, .5rem -.3rem 0
  #000, -.5rem .3rem 0
  #000, .4rem .3rem 0 
  #000,.4rem .3rem 0 ;
  
  
  }
  .text3
  {
    /* position: relative; */
  font-family: 'My Custom Font';
  font-style: normal;
  font-weight: 400;
  font-size: 6vw;
  line-height: 22vh;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  
  color: #FFFFFF;
  -webkit-text-stroke: 1.7px 
  #E49BDB;
  text-shadow: -.45rem -.3rem 0
  #000, .5rem -.3rem 0
  #000, -.5rem .3rem 0
  #000, .4rem .3rem 0 
  #000,.4rem .3rem 0 ;
  
  
  }
  .text4
  {
    /* position: relative; */
  font-family: 'My Custom Font';
  font-style: normal;
  font-weight: 400;
  font-size: 6vw;
  line-height: 22vh;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  
  color: #FFFFFF;
  -webkit-text-stroke: 1.7px 
  #EAA1E2;
  text-shadow: -.45rem -.3rem 0
  #000, .5rem -.3rem 0
  #000, -.5rem .3rem 0
  #000, .4rem .3rem 0 
  #000,.4rem .3rem 0 ;
  
  
  }
  .text5
  {
    /* position: relative; */
  font-family: 'My Custom Font';
  font-style: normal;
  font-weight: 400;
  font-size: 6vw;
  line-height: 22vh;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  
  color: #FFFFFF;
  -webkit-text-stroke: 1.7px 
  #6F8214;
  text-shadow: -.45rem -.3rem 0
  #000, .5rem -.3rem 0
  #000, -.5rem .3rem 0
  #000, .4rem .3rem 0 
  #000,.4rem .3rem 0 ;
  
  }
  .text6
  {
    /* position: relative; */
  font-family: 'My Custom Font';
  font-style: normal;
  font-weight: 400;
  font-size: 6vw;
  line-height: 22vh;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  
  color: #FFFFFF;
  -webkit-text-stroke: 1.7px #E16C3F;
  text-shadow: -.45rem -.3rem 0
  #000, .5rem -.3rem 0
  #000, -.5rem .3rem 0
  #000, .4rem .3rem 0 
  #000,.4rem .3rem 0 ;
  
  }
}

@media only screen and (max-width:800px) {
  .cambox1i1
{
  box-sizing: border-box;
align-items: center;
  /* position:absolute; */
display: flex;
flex-direction: column;
gap:6vh;
  width: 100%;
  height: 15px;
  left: -20px;
  top: 131px;
  
  background: 
  #06888E;
  border: 0px solid #ffffff;
}
.cambox2i1{
  box-sizing: border-box;
align-items: center;
display: flex;
align-items: center;
justify-content: center;
/* position: absolute; */
width: 100%;
height: 15px;
left: -20px;
top: 192px;

background: #F26120;
border-top: 2px solid #ffffff;
border-bottom: 2px solid #ffffff ;
border-right: 0px;
border-left: 0px;
}
.cambox3i1
{
  box-sizing: border-box;

/* position: absolute; */
width: 100%;
height: 15px;
left: -20px;
top: 260px;

background: #05D7E2;
border: 0px solid #ffffff;

}

/* safher */
.cambox1i2
{
  box-sizing: border-box;
align-items: center;
  /* position:absolute; */
display: flex;
flex-direction: column;
gap:6vh;
  width: 100%;
  height: 15px;

  left: -20px;
  top: 131px;
  
  background: 
  
#0999B6;
  border: 0px solid #ffffff;
}
.cambox2i2{
  box-sizing: border-box;
align-items: center;
display: flex;
align-items: center;
justify-content: center;
/* position: absolute; */
width: 100%;
height: 15px;

left: -20px;
top: 192px;

background: 
#E49BDB;
border-top: 2px solid #ffffff;
border-bottom: 2px solid #ffffff ;
border-right: 0px;
border-left: 0px;
}
.cambox3i2
{
  box-sizing: border-box;

/* position: absolute; */
width: 100%;
height: 15px;

left: -20px;
top: 260px;

background: #560062;
border: 0px solid #ffffff;

}
/* manshakti */
.cambox1i3
{
  box-sizing: border-box;
align-items: center;
  /* position:absolute; */
display: flex;
flex-direction: column;
gap:6vh;
  width: 100%;
  height: 15px;

  left: -20px;
  top: 131px;
  
  background: 
  
#0999B6;
  border: 0px solid #ffffff;
}
.cambox2i3{
  box-sizing: border-box;
align-items: center;
display: flex;
align-items: center;
justify-content: center;
/* position: absolute; */
width: 100%;
height: 15px;

left: -20px;
top: 192px;

background: 
#E49BDB;
border-top: 2px solid #ffffff;
border-bottom: 2px solid #ffffff ;
border-right: 0px;
border-left: 0px;
}
.cambox3i3
{
  box-sizing: border-box;

/* position: absolute; */
width: 100%;
height: 15px;

left: -20px;
top: 260px;

background: 
#560062;
border: 0px solid #ffffff;

}
/* northeast */
.cambox1i4
{
  box-sizing: border-box;
align-items: center;
  /* position:absolute; */
display: flex;
flex-direction: column;
gap:6vh;
  width: 100%;
  height: 15px;

  left: -20px;
  top: 131px;
  
  background: 
  
  #00B1EC;
  border: 0px solid #ffffff;
}
.cambox2i4{
  box-sizing: border-box;
align-items: center;
display: flex;
align-items: center;
justify-content: center;
/* position: absolute; */
width: 100%;
height: 15px;

left: -20px;
top: 192px;

background: 
#E49BDB;
border-top: 2px solid #ffffff;
border-bottom: 2px solid #ffffff ;
border-right: 0px;
border-left: 0px;
}
.cambox3i4
{
  box-sizing: border-box;

/* position: absolute; */
width: 100%;
height: 15px;

left: -20px;
top: 260px;

background: 
#FF598A;
border: 0px solid #ffffff;

}
/* prithvi */
.cambox1i5
{
  box-sizing: border-box;
align-items: center;
  /* position:absolute; */
display: flex;
flex-direction: column;
gap:6vh;
  width: 100%;
  height: 15px;

  left: -20px;
  top: 131px;
  
  background: 
  
  
#BED645;
  border: 0px solid #ffffff;
}
.cambox2i5{
  box-sizing: border-box;
align-items: center;
display: flex;
align-items: center;
justify-content: center;
/* position: absolute; */
width: 100%;
height: 15px;

left: -20px;
top: 192px;

background: 

#6F8214;
border-top: 2px solid #ffffff;
border-bottom: 2px solid #ffffff ;
border-right: 0px;
border-left: 0px;
}
.cambox3i5
{
  box-sizing: border-box;

/* position: absolute; */
width: 100%;
height: 15px;

left: -20px;
top: 260px;

background: 
#05CDD3;
border: 0px solid #ffffff;

}
/* udaan */
.cambox1i6
{
  box-sizing: border-box;
align-items: center;
  /* position:absolute; */
display: flex;
flex-direction: column;
gap:6vh;
  width: 100%;
  height: 15px;

  left: -20px;
  top: 131px;
  
  background: 
  
  

  #D5E36E;
  border: 0px solid #ffffff;
}
.cambox2i6{
  box-sizing: border-box;
align-items: center;
display: flex;
align-items: center;
justify-content: center;
/* position: absolute; */
width: 100%;
height: 15px;

left: -20px;
top: 192px;

background: 


#E16C3F;
border-top: 2px solid #ffffff;
border-bottom: 2px solid #ffffff ;
border-right: 0px;
border-left: 0px;
}
.cambox3i6
{
  box-sizing: border-box;

/* position: absolute; */
width: 100%;
height: 15px;

left: -20px;
top: 260px;

background: 

#F8D400;
border: 0px solid #ffffff;
}
.text1
{
  /* position: relative; */
font-family: 'My Custom Font';
font-style: normal;
font-weight: 400;
font-size: 9vw;
line-height: 22vh;
text-align: center;
letter-spacing: 0.02em;
text-transform: uppercase;

color: #FFFFFF;

-webkit-text-stroke: 1.3px #E16C3F;
text-shadow: -.3rem -.2rem 0
#000, .3rem -.2rem 0
#000, -.3rem .2rem 0
#000, .3rem .2rem 0 
#000,.3rem .2rem 0 ;

}
.text2
{
  /* position: relative; */
font-family: 'My Custom Font';
font-style: normal;
font-weight: 400;
font-size: 9vw;
line-height: 22vh;
text-align: center;
letter-spacing: 0.02em;
text-transform: uppercase;

color: #FFFFFF;
-webkit-text-stroke: 1.3px 
#E49BDB;
text-shadow: -.3rem -.2rem 0
#000, .3rem -.2rem 0
#000, -.3rem .2rem 0
#000, .3rem .2rem 0 
#000,.3rem .2rem 0 ;



}
.text3
{
  /* position: relative; */
font-family: 'My Custom Font';
font-style: normal;
font-weight: 400;
font-size: 9vw;
line-height: 22vh;
text-align: center;
letter-spacing: 0.02em;
text-transform: uppercase;

color: #FFFFFF;
-webkit-text-stroke: 1.3px 
#E49BDB;
text-shadow: -.3rem -.2rem 0
#000, .3rem -.2rem 0
#000, -.3rem .2rem 0
#000, .3rem .2rem 0 
#000,.3rem .2rem 0 ;


}
.text4
{
  /* position: relative; */
font-family: 'My Custom Font';
font-style: normal;
font-weight: 400;
font-size: 9vw;
line-height: 22vh;
text-align: center;
letter-spacing: 0.02em;
text-transform: uppercase;

color: #FFFFFF;
-webkit-text-stroke: 1.3px 
#EAA1E2;
text-shadow: -.3rem -.2rem 0
#000, .3rem -.2rem 0
#000, -.3rem .2rem 0
#000, .3rem .2rem 0 
#000,.3rem .2rem 0 ;


}
.text5
{
  /* position: relative; */
font-family: 'My Custom Font';
font-style: normal;
font-weight: 400;
font-size: 9vw;
line-height: 22vh;
text-align: center;
letter-spacing: 0.02em;
text-transform: uppercase;

color: #FFFFFF;
-webkit-text-stroke: 1.3px 
#6F8214;
text-shadow: -.3rem -.2rem 0
#000, .3rem -.2rem 0
#000, -.3rem .2rem 0
#000, .3rem .2rem 0 
#000,.3rem .2rem 0 ;

}
.text6
{
  /* position: relative; */
font-family: 'My Custom Font';
font-style: normal;
font-weight: 400;
font-size: 9vw;
line-height: 22vh;
text-align: center;
letter-spacing: 0.02em;
text-transform: uppercase;

color: #FFFFFF;
-webkit-text-stroke: 1.3px #E16C3F;
text-shadow: -.3rem -.2rem 0
#000, .3rem -.2rem 0
#000, -.3rem .2rem 0
#000, .3rem .2rem 0 
#000,.3rem .2rem 0 ;

}
 
  .camtext2i{
    font-size: 2.5vh;
line-height: 2.5vh;
height: 45vw;
display: flex;
align-items: center;
   
  }

.cambox1{
  gap:4vh;
}}
.slideri{
  margin: auto;
  margin-left: 0px;
  /* position: absolute; */
  width: 100%;
  display: grid;
  top:50vh;
  place-items: center;
  overflow: hidden;
  background-color: white;
border-width: 2px 1px 6px 1px;
border-style: solid;
border-color: #000000;
 border-top: 3px solid;
  border-bottom: 3px solid;
   height: 18vw;
   /* transform: scaleY(1)translateY(-50px); */
}
.slide {
  height: 6vw;
  width: 27vw;
  display: flex;
  align-items: center;
  padding: 16px;
  perspective: 100px;
}
.slideTrack:hover{
  animation-play-state: paused;
  
}

.slideTrack {
  display: flex;
  width: 90vw;
  animation: scroll 40s linear infinite;
  background-color: white;
  /* border-top: 1px solid;
  border-bottom: 1px solid; */
  
}
@keyframes scroll{
  0% {
    transform: translateX(-4vw);
  }
  100% {
    transform: translateX(calc(-27vw*4));
  }
}
.imgcam{
  height: 15vw;
  width: 22vw;
  transform: 0.5s;
  border: 1px solid;
  box-shadow: 2px 2px 0px black;
  padding: 5px;
  
}
.imgcam:hover{
  transform: translateZ(10px);
  /* border: none; */
  padding: 5px;
  /* box-shadow: none; */
  transition-duration: .2s;
}

.slideri::before,
.slideri::after{
  
  content: '';
  height: 100%;
  /* position: absolute; */
  width: 0;
  z-index: 2;
}

.slideri::before{
  left: 0;
  top: 0;
}
.slideri::after{
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.cardsSlider {
  overflow-x: hidden;
	white-space: nowrap;
	width: 100%;
	height: 86.2vh;


	display: inline-block;

}

.card {
  align-items: center;
  background:#FFFBF5;
  width: 100%;
	/* position: relative; */
	display: inline-block;
	left: 0;
	clear: both;
  margin-right: 1vw;
	float: none !important;
	transition: transform .2s ease-in-out;
	vertical-align: top;
  /* padding: 20px 25px; */
}
.card .desc {
  word-wrap: break-word;
  white-space: pre-wrap;
}
.sliderBtn {
  padding: 0;
  font-size: 20px;
  text-align: center;
  color: #b3b3b3;
  width: 45px;
  height: 100%;
  border: 0;
  cursor: pointer;
  background: none;
  outline: none;
  transform: scale(.9);
  /* position: absolute; */
  z-index: 9990;
  transition: all 0.7s ease 0s;
}
.sliderBtns{
  box-sizing: border-box;
  position: relative;
  top:77px;
  width: 100vw;
  display: flex;
  padding: 0% 3% 0% 3%;
  justify-content: space-between;
  
}

.sliderBtn:hover {
  color: #5f5f5f;
  background: rgba(0,0,0,0.2);
}

.btnR {
  right: 0;
}
.btnL {
  left: 0px;
}

.mobile{
  display: none;
}


@media(max-width:768px){
  .footer{
    position: relative;
    top: 1800px;
  }
  .mobile{
    display: block;
    padding: 0;
  }
  .noMobile{
    display: none;
  }
  .slideri{
    height: 105px;
    transform: scale(1.5);
    margin-bottom: 70px;
    margin-top: 45px;
    width: 80%;
  }
  .mainbody{
    height: 1200px;
  }
}
@media(max-width:480px){
  body{
    overflow-x: hidden;
    
  }
  .mainbody{
    height: 1200px;
  }
  .cambox2i{
   height: 25px;
   border: 2px solid white;

   
  }
.cambox1i{
  height: 25px;
  border: 2px solid white;
 
}
.cambox3i{
  height: 25px;
  border: 2px solid white;

}
.slideri{
  height: 95px;
  transform: scale(1.5);
  margin-bottom: 70px;
  margin-top: 45px;
  width: 80%;
}
.camtext2i{
  font-size: 12px;
  padding: 3% 5% 3% 5%;
  font-weight: 500;
  height: 40vw;
  display: flex;
  align-items: center;

}
.imgcam{
  height: 20vw;
}
.footer{
  transform: translateY(-300px);
}
}
