.animation__Container{
  /* position: sticky; */
  top: -10vw;
  left: 0%;
  z-index: 5;
  transform: scale(0.9);
  background: url('../Contests/Images/background.png');
}
.text {
  /* width: 100px; */
  text-align: center;
  font-size: 3vw;
  z-index: 1;

}

canvas {
  width: 100%;
}