

.video_container {
    margin-left: 2vw;

}

.openbookBtn {
    position: absolute;
    top: 30%;
    right: 20%;
    width: 5vw;
    height: 5vw;
    border-radius: 2.5vw;
    cursor: pointer;
    background-color: red;
}
.nxtBtn{
    position: absolute;
    top: 50%;
    right: 9%;
    border: none;
    cursor: pointer;
    background-color: #FF598A;
    font-weight: 500;
    font-size: 1vw;
    border-radius: 2vw;
    text-align: center;
    padding: 0.8vw 1.2vw 0.6vw;
    box-shadow: 0.3vw 0.3vw 0.1vw rgba(0,0,0,10);
    color: white;
}
.nxtBtn:hover{
    box-shadow: none;
    -webkit-transform: translateY(-1px);
      transform: translateY(1px)}
.prevBtn:hover{
    box-shadow: none;
    -webkit-transform: translateY(-1px);
      transform: translateY(1px)}
.prevBtn{
    position: absolute;
    top: 50%;
    left: 9%;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #FF598A;
    font-weight: 500;
    font-size: 1vw;
    padding: 0.8vw 1.2vw 0.6vw;
    border-radius: 2vw;
    box-shadow: 0.3vw 0.3vw 0.1vw rgba(0,0,0,10);
}