.hero_container{
    /* position: sticky; */
    // top: -10vw;
    left: 0%;
    z-index: 5;
    height: 100vh;

    // transform: scale(0.9);
    background: url('../Contests/Images/background.png');
  }
  .text {
    /* width: 100px; */
    text-align: center;
    font-size: 3vw;
    z-index: 1;
  
  }
  
  canvas {
    width: 100%;
  }

  .AlcherLogo{
    position: absolute;
    top: 15%;
    width: 45vw;
    height: 45vh;
    left: 27.5%;

  }
  .logo_img{
    width: 45vw;
    height: 45vh;
  }

  // .blank_div{
  //   height: 75vw;
  //   width: 100vh;
  // }
  // .blank_div2{
  //   height: 25vh;
  //   width: 100vw;
  // }