@import url('https://fonts.cdnfonts.com/css/aileron');
@font-face {
  font-family: "Star Guard";
  src: url(../../fonts/starguardsemital.ttf) format("truetype");
}

.description {
  width: 45vw;
  font-family: 'Aileron';
  font-style: 'SemiBold';
  font-weight: 600;
  font-size: 1.65vw;
  margin-top: -15vh;
  z-index: 5;
  position: absolute;
  text-align: center;
  text-transform: capitalize;
  user-select: none;
  left: -27vw;
  color: #FFFFFF;
  cursor: pointer;
  text-shadow: 1px 4px 42px #000000;
  line-height: 1.25;
  }
  .pano__video{
    width: 45vw;
    height: 45vw;
    position: absolute;
    left: 50vw;
  }
  .video_box{
    position: relative;
  }
  .play_logo{
    position: absolute;
    left: 48%;
    top: 43%;
    z-index: 10;
  }
  iframe{
    width: 100vw;
    height: 100vh;
    position: relative;
  }
  .div_on_iframe{
    position: absolute;
    top: 0;
    height: 90vh;
    width: 100vw;
    z-index: 11;

  }
  .description2 {
    width: 45vw;
    font-family: 'Aileron';
    font-style: 'SemiBold';
    font-weight: 600;
    font-size: 1.65vw;
    margin-top: 15vh;
    z-index: 5;
    position: absolute;
    text-align: center;
    text-transform: capitalize;
    user-select: none;
    left: 27vw;
    color: #FFFFFF;
    cursor: pointer;
    text-shadow: 1px 4px 42px #000000;
    line-height: 1.25;
    opacity: 0;
    }
  .geet{
    width: 100%;
    height: 100vh;
    z-index: 1;
    opacity: 0;
  }
  .aframe_container{
    display: flex;
    height: auto;
    width: 100vw;
    /* transform: translate3d(0px, 2768px, 0px); */
height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  .a-scene{
    display: flex !important;
    justify-content: center;
  }
  html.a-fullscreen .a-canvas {
    position:relative !important;
    zoom: 80% !important;
   
  }
  .a-enter-vr-button{
    display: none;
  }
  body {
    height: 46.4vw !important;
    /* height: auto !important; */
    overflow-y: auto !important;
    width: 100%;
    overflow-x: hidden;
  }
  html.a-fullscreen {
    position: relative !important;
    /* overflow-x:hidden !important ; */
  }
  .lotus__img{
    display: none;
  }

@media screen and ( max-width:768px) {
  .panorama__main{
    display: none;
  }
  iframe{
    height: auto;
  }
  .pano__video{
    display: none;
  }
  .img__after_hero{
    display: block;
    height: 100vh;
    width: 99vw;
  }
  .lotus__img{
    display: block;
    position: relative;
    margin: 0;
  }
  .lotus__text1{
    width: 70%;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 20%;
    color: white;
    font-size: 2vh;
  }
  .lotus__text2{
    width: 70%;
    position: absolute;
    text-align: center;
    display: none;
    top: 50%;
    left: 20%;
    color: white;
    font-size: 2vh;
  }

  body {
    height: auto !important;
    overflow: scroll;
  }
  html.a-fullscreen {
    position: relative !important;
    overflow-x:scroll !important ;
  }
}

.blank_div3{
  width: 100vw;
  height: 200vh;
}
.blank_div4{
  width: 100vw;
  height: 100vh;
}
.pnlm-about-msg{
  display: none !important;
}

@media (orientation: portrait) {
  .panorama__main{
    display: none;
  }
  iframe{
    height: 30vh;
  }
  .play_logo{
    display: none;
  }
  .div_on_iframe{
    display: none;
  }
  
}