.description {
  width: 50vw;
  font-family: 'Sequel Sans';
  font-style: normal;
  font-weight: 415;
  font-size: 2vw;
  margin-top: 20vh;
  z-index: 5;
  position: absolute;
  text-align: center;
  text-transform: capitalize;
  user-select: none;
  left: 24vw;
  color: #FFFFFF;
  cursor: pointer;
  text-shadow: 1px 4px 42px #000000;
  }
  .geet{
    width: 100%;
    height: 100vh;
    z-index: 1;
  }
  .aframe_container{
    display: flex;
    height: auto;
    width: 100vw;
    
    overflow-y: hidden;
    overflow-x: hidden;
  }
  .a-scene{
    display: flex !important;
    justify-content: center;
  }
  html.a-fullscreen .a-canvas {
    position:relative !important;
    zoom: 80% !important;
   
  }
  .a-enter-vr-button{
    display: none;
  }
  body {
    height: 46.4vw !important;
    /* height: auto !important; */
    overflow-y: auto !important;
    width: 100%;
    overflow-x: hidden;
  }
  html.a-fullscreen {
    position: relative !important;
    /* overflow-x:hidden !important ; */
  }

@media screen and ( max-width:768px) {
  .geet{
    display: none;
  }
  body {
    height: auto !important;
    overflow: scroll;
  }
  html.a-fullscreen {
    position: relative !important;
    overflow-x:scroll !important ;
  }
}

.blank_div3{
  width: 100vw;
  height: 100vh;
}