@font-face {
  font-family: "Star Guard Semi-Italic";
  src: url("./Fonts/starguardsemital.ttf");
}
* {
  /* background: url(./images/paperboard-yellow-texture.svg);
  mix-blend-mode: multiply; */
  margin: 0px;
  padding: 0px;
}

.navbar {

}
.container {
  padding-top: 20vh;
}

.rect {
  width: 100vw;
  margin-top: 1vh;
  margin-bottom: 15vh;
 
}

.bg {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 3vh 0vw 1.5vh 0vw;
  background: #32a071;
  background-image: url(./images/Frame\ 14832.png);
  box-shadow: 0px 10px #f8e55f;
}
.bg img {
width: 65vw;
}


.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}

.frame {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-image: url(./images/Frame\ 14838.png);
padding: 2vh 0vw;
  width: 36vw;
  border: 12 solid #f8e55f;
  box-shadow: 1vw 1vw #f8e55f;
}
.frame img{
  width: 32vw;
}
.box2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 36vw;
  height: 50vh;
  justify-content: space-between;

  /* gap: 137px;

  width: 707px;
  height: 348px; */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.ibox {
  width: 20vw;
  height: 16vw;
  /* top: 8px; */

  background: #d9d9d9;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.oil {
  /* top: 49px;
  width: 222px;
  height: 49px; */

  font-family: "Aileron";
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  /* line-height: 49px; */

  text-align: center;
  text-transform: uppercase;

  color: #1a1a1a;
}

.cosponsor {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4vh;
  /* width: 54vw; */

  /* gap: 80px; */

  /* height: 674px; */

  flex: none;
  order: 1;
  flex-grow: 0;
}

/* .co1 {
  box-sizing: border-box;
  width: 54vw;
  /* width: 691px; */
/* height: 150px; */
/* background-image: url(./images/vector.jpeg); */

/* left: -16px;
  top: -13px; */
/* border: 8.9588px solid #F8E55F; */
/* }  */

.copara {
  /* left: 61px;
  top: 56px; */

  font-family: "Star Guard Semi-Italic";
  font-style: italic;
  font-weight: 400;
  font-size: 54px;
  /* line-height: 70px; */
  line-height: 150%;
  /*
  padding-top: 24px;
  padding-left: 12px; */

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: #ffffff;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 2px;
}
.updatedpara {
  padding-top: 0.5vh;
  font-family: "Aileron";
  font-style: normal;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 3vh;
  top: 370px;
  text-align: center;
}
.cocard1 {
  width: 248px;
  height: 348px;

  background: #d9d9d9;
  background-image: url(./images/sponsor.png);
  margin-bottom: 90px;
}

.cocard {
  width: 20vw;
  height: 20vw;

  background: #d9d9d9;
  background-image: url(./images/sponsor.png);
  /* margin-bottom: 90px; */
}

.cocard2 {
  width: 248px;
  height: 348px;

  background: #d9d9d9;
  background-image: url(./images/sponsor.png);
  margin-bottom: 90px;
}
.maincard {
  margin: 0% 1.5% 2% 1.5%;
}
.parent {
  /* width: 845px;
  height: 411px; */
  width: 70vw;
  gap: 4vw;
  margin: auto;
  padding-top: 2%;
  padding-bottom: 2%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 5vh;
}

.newpara {
  font-family: "Aileron";
  font-style: normal;
  text-transform: uppercase;
  font-weight: 900;
  padding-top: 4vh;
  font-size: 3vh;
  top: 370px;
  text-align: center;
}

.randomheading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  /* gap: 80px; */

  /* height: 674px; */
  flex: none;
  order: 2;
  flex-grow: 0;
}

.co-parent {
  width: 1094px;
  height: 411px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.othersponsor {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vw;
  flex: none;
  order: 3;
  flex-grow: 0;
}

/* ************************************************** */
/* css for responsive */
/* *************************************************** */

@media only screen and (max-width: 1000px) {
  .container{
    padding: 2% 0 0 0;
  }

  .box2,
  .parent {
    padding: 8% 3% 8% 3%;
  }
  .rect {
    margin-bottom: 10vh;
  }

  .box2 {
    flex-direction: column;
    height: fit-content;
    padding-bottom: 10vw;
  }
}
@media only screen and (max-width: 830px) {
  .box2 {
    flex-direction: column;
    height: fit-content;
    padding-bottom: 10vw;
  }
  .oil {
    padding-top: 2vh;
    font-size: 3vh;
  }

}

@media screen and (max-width: 480px) {



  .newpara,
  .updatedpara,
  .oil {
    font-size: 12px;
  }
}
